@import url(https://fonts.googleapis.com/css?family=Nunito);

.btn-h1-spacing{
	margin-top: 18px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    background: #a1a7ad9e;
}